{% load staticfiles %}
{% include "headers/standard.html" %}
<div id="contents">
	<table id="nav-table">
		<tr>
			<td class="nav-left"><input type="button" value="Users" onclick="window.location='{% url 'properties:user_list'%}';"/></td>
			<td class="nav-right"><input type="button" value="Properties" onclick="window.location='{% url 'properties:property_list'%}';" /> </td>
		</tr>
		<tr>
			<td class="nav-left"><input type="button" value="Work Orders" onclick="window.location='{% url 'properties:workorder_list' %}';" /> </td>
			<td class="nav-right"><input type="button" value="Reports" onclick="window.location='{% url 'properties:report_list' %}';"  /></td>
		</tr>
    <tr>
			<td class="nav-left"><input type="button" value="Reports" onclick="window.location='{% url 'properties:sms_me' %}';"  /></td>
      <td></td>
    </tr>
	</table>
	
</div>
