{% load staticfiles %}
{% include "headers/standard.html" %}
<script src="{% static "js/propertiesList.js" %}"></script>
<div id="contents">
	<div id="pagetitle">
		<h1>Properties</h1>
	</div>
    
    <div id="filter-div">
        <label>Filter:</label><input type="text" id="filter" name="filter"/> 
    </div>
	
    <table id="header-set">
        <thead>
			<tr>
				<th class="user-table-h1">Name</th>
				<th class="user-table-h2">Location</th>
				<th class="user-table-h3"> </th>
			</tr>
		</thead>
    </table>
	<table id="user-table">
		<!--<thead>
			<tr>
				<th id="user-table-h1">Name</th>
				<th id="user-table-h2">Location</th>
				<th id="user-table-h3"> </th>
			</tr>
		</thead>-->
        <colgroup>
            <col class="user-table-h1">
            <col class="user-table-h2">
            <col class="user-table-h3">
        </colgroup>
		<tbody>
		
		{% for property in prop_list %}
		<tr>
			<td>{{ property.name }}</td>
			<td>{{ property.city }}, {{property.state}}</td>
			<td>
				<input type="button" onclick="window.location='{% url 'properties:property_edit' property.id %}';" value="Manage"/>
			</td>
		</tr>
		{% endfor %}
		</tbody>

	</table>

	<a href="{% url 'properties:property_new' %}">New Property</a>
</div>
