{% load staticfiles %}
{% include "headers/standard.html" %}
<div id="contents">
	<div id="pagetitle">
		<h1>Reports</h1>
	</div>
	
	<table id="user-table">
		<thead>
			<tr>
				<th id="user-table-h1">ReportName</th>
				<th id="user-table-h4"> </th>
				<th id="user-table-h4"> </th>
			</tr>
		</thead>
		<tbody>
		
		{% for workorder in object_list %}
		<tr>
			<td>{{ workorder.unit}}</td>
			<td>{{ workorder.postedDate }}</td>
			<td>{{ workorder.status }}</td>
			<td>
				<input type="button" onclick="window.location='{% url 'properties:user_edit' user.id %}';" value="Manage"/>
			</td>
		</tr>
		{% endfor %}
		</tbody>

	</table>

	<a href="{% url 'properties:user_new' %}">New User</a>
</div>
