{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/promanage.css" %}" />
<div id="header">
	<table id="header-table">
		<tr>
			<td id="logo-td">
				<img id="logo" src="{% static "images/promanage_logo.png" %}" onclick="window.location='{% url 'properties:landing'%}';"/>
			</td>
			<td id="text-td">
				Property Manager 2015
			</td>
		</tr>
	</table>
</div>
<div id="contents">
	<div id="pagetitle">
		<h1>Users</h1>
	</div>
	<!--<ul>
		{% for user in object_list %}
		<li>{{ user.username }} ({{ user.first_name }} {{ user.last_name }} : {{ user.email }})
		<a href="{% url 'properties:user_edit' user.id %}">edit</a>
		<a href="{% url 'properties:user_delete' user.id %}">delete</a>
		<a href="{% url 'properties:user_view_groups' user.id %}">view groups</a>
		<a href="{% url 'properties:user_view_info' user.id %}">view info</a>
		</li>
		{% endfor %}
	</ul>-->
	
	<table id="user-table">
		<thead>
			<tr>
				<th id="user-table-h1">Full Name</th>
				<th id="user-table-h2">User Name</th>
				<th id="user-table-h3"> </th>
			</tr>
		</thead>
		<tbody>
		
		{% for user in object_list %}
		<tr>
			<td>{{ user.first_name }} {{ user.last_name }}</td>
			<td>{{ user.username }}</td>
			<td>
				<input type="button" onclick="window.location='{% url 'properties:user_edit' user.id %}';" value="Manage"/>
			</td>
		</tr>
		{% endfor %}
		</tbody>

	</table>

	<a href="{% url 'properties:user_new' %}">New User</a>
</div>
