{% load staticfiles %}
{% include "headers/standard.html" %}
<div id="contents">
	<div id="pagetitle">
		<h1>Users</h1>
	</div>
	
	<table id="user-table">
		<thead>
			<tr>
				<th id="user-table-h1">Full Name</th>
				<th id="user-table-h2">User Name</th>
				<th id="user-table-h3">Role(s)</th>
				<th id="user-table-h4"> </th>
			</tr>
		</thead>
		<tbody>
		
		{% for user in object_list %}
		<tr>
			<td>{{ user.first_name }} {{ user.last_name }}</td>
			<td>{{ user.username }}</td>
			<td>{% for group in user.groups.all %}
				    {{ group.name }} 
			    {% endfor %}</td>
			<td>
				<input type="button" onclick="window.location='{% url 'properties:user_edit' user.id %}';" value="Manage"/>
			</td>
		</tr>
		{% endfor %}
		</tbody>

	</table>

	<a href="{% url 'properties:user_new' %}">New User</a>
</div>
