{% load staticfiles %}
{% include "headers/standard.html" %}
<div id="contents">
	<div id="pagetitle">
		<h1>Confirm Delete</h1>
	</div>
	<form method="post">{% csrf_token %}
		Are you sure you want to delete this user?
		<table>
			<tr>
				<td>Name: </td>
				<td>
					{{ object.first_name }} {{object.last_name}}
				</td>
			</tr>
			<tr>
				<td>Username: </td>
				<td>
					{{ object.username }}
				</td>
			</tr>
			<tr>
				<td>Email Address: </td>
				<td>
					{{ object.email }}
				</td>
			</tr>
		</table>
		<input type="button" value="Cancel" onclick="window.location='{% url 'properties:user_list'%}';"/>
		<input type="submit" value="Submit" />
	</form>
</div>
