{% load staticfiles %}
{% include "headers/standard.html" %}
<div id="contents">
	<div id="pagetitle">
		<h1>Workorders</h1>
	</div>
	
	<table id="user-table">
		<thead>
			<tr>
				<th id="user-table-h1">Unit</th>
				<th id="user-table-h2">Date</th>
				<th id="user-table-h3">Status</th>
				<th id="user-table-h4"> </th>
			</tr>
		</thead>
		<tbody>
		
		{% for workorder in object_list %}
		<tr>
			<td>{{ workorder.unit}}</td>
			<td>{{ workorder.postedDate }}</td>
			<td>{{ workorder.status }}</td>
			<td>
				<input type="button" onclick="window.location='{% url 'properties:workorder_edit' workorder.id %}';" value="Manage"/>
			</td>
		</tr>
		{% endfor %}
		</tbody>

	</table>

	<a href="{% url 'properties:workorder_new' %}">New Workorder</a>
</div>
