{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{% static "css/promanage.css" %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div id="header">
	<table id="header-table">
		<tr>
			<td id="logo-td">
				<img id="logo" src="{% static "images/promanage_logo.png" %}"
                    {% if user.is_authenticated %} onclick="window.location='{% url 'properties:landing' %}';" {% endif %}/>
			</td>
			<td id="text-td">
				Property Manager 2015
			</td>
			<td id="logout-td">
            {% if user.is_authenticated %}
				<a id="logout-button" href="/logout">logout</a>
            {% endif %}
			</td>
		</tr>
	</table>
</div>

